@font-face {
  font-family: 'Ubuntu';
  src: url('UbuntuCondensed-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: url('Oswald-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: normal;
}
