.au-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us{
  width: inherit;
  height: 100%;
  padding: 0 100px 0 70px;
  margin-bottom: 80px;
  position: relative;

  .au-container {
    margin: $base-margin*21 0 0 0;
    width: 100%;
    height: 450px;
    border-radius: $base-border-radius*7;
    background-color: #333333;
    color: white;
    .container-fill {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;

    }
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-image: url('~/assets/image/aboutus.png');
    .about-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-color: #F2F2F2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 0 0 9*$base-padding;
      svg {
        width: 180px;
        height: 180px;
        path {
          fill: #333333;
        }
      }
    }
    .about-text {
      width: 70%;

      h2 {
        margin: 20px 0 0 auto;
        padding: 0 0 0 $base-padding*8;
        left: 40px;
        color: #F2F2F2;
      }
      p {
        font-family: 'Roboto', sans-serif !important;
        padding: $base-padding*3 $base-padding*8 $base-padding*6 $base-padding*8;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        margin: 0;
      }
    }

  }


  .au-line {
    margin-right: $base-margin;
    h3 {
      font-size: $base-font-size +12;
      padding: 0;
      margin: 0 0 $base-margin*4 +3 0;
      text-transform: uppercase;
    }
    .line {
      height: 350px;
      width: 4px;
      background-color: #D46900;
    }
  }
  @media screen and (max-width: 1444px) and (min-width: 1280px) {
    padding: 0 62px 0 40px;
  }
}
.container-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.92;
  border-radius: 30px;
  z-index: 100;
}
