.au-line {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us{
  z-index: 100;
  margin-top: 19px;
  width: inherit;
  height: 450px;
  padding: 0 158px 0 110px;
  position: relative;

  .au-container {
    position: relative;
    margin: $base-margin*21 0 0 $base-margin*7;
    width: 900px;
    height: 310px;
    border-radius: $base-border-radius*7;
    background-image: url('~/assets/image/bg-au.png');
    background-repeat: no-repeat;
    background-size: 100% 130%;
    color: white;
    h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      left: 40px;
      color: #333333;
      top: -35px;
    }
    p {
      font-family: 'Oswald', sans-serif !important;
      padding: $base-padding*6 $base-padding*8;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
    }
  }


  .au-line {
    margin-right: $base-margin;
    h3 {
      font-size: $base-font-size +12;
      padding: 0;
      margin: 0 0 $base-margin*4 +3 0;
      text-transform: uppercase;
    }
    .line {
      height: 350px;
      width: 4px;
      background-color: #D46900;
    }
  }
}
