.col-left,
.col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.block-nav,
.nav-row,
.nav-item-title-line, {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-item-1-1,
.nav-item-1-2,
.nav-item-2-1,
.nav-item-2-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $base-color-dirt-black;
  box-sizing: border-box;
  border-radius: $base-border-radius*7;

  .card-title {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    color: $base-color-light-white;
  }
}

.block-nav {
  width: inherit;
  height: 100%;
  margin-top: $base-margin*12 +2;
  padding: 0 90px 70px 70px;
  position: relative;

  .dot {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #D46900;
    top: 160px;
    left: 492px;
  }
  .container-border {
    position: absolute;
    border-top: 0;
    width: 591px;
    height: 205px;
    border-bottom: 4px solid #D46900;
    border-right: 4px solid #D46900;
    border-left: 4px solid #D46900;
    bottom: 0;
    box-sizing: border-box;
    right: 260px;
    font-size: 32px;
    padding-left: 18px;
  }
  .container-logo {
    width: 150px;
    height: 150px;
    border: 4px solid #333333;
    position: absolute;
    top: 185px;
    right: 190px;
    box-sizing: border-box;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-border-sm {
    width: 200px;
    height: 76px;
    border-right: 4px solid #D46900;
    border-top: 4px solid #D46900;
    position: absolute;
    right: 260px;
    top: 73px;
  }
  .container-cross {
    width: 105px;
    height: 105px;
    position: absolute;
    top: 22px;
    right: 510px;
    background-image: url('~/assets/image/block-nav/nav-cross.png');

  }

  .col-left {
    align-items: flex-end;

    .nav-item-1-1 {
      padding-left: $base-padding*6+1;
      width: 410px;
      height: 150px;
      background-image: url("~/assets/image/block-nav/block-nav-1.png");
      background-position: center center;
      .block-img {
        padding-right: 104px;
      }
    }

    .nav-item-1-2 {
      padding-top: $base-padding*8+2;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: $base-margin*8 +3;
      height: 315px;
      width: 220px;
      background-image: url("~/assets/image/block-nav/block-nav-3.png");
      background-position: center center;

      img {
        margin-top: $base-margin*8;
      }
    }
  }

  .col-right {
    margin-left: $base-margin*8 +3;

    .nav-item-2-1 {
      color: $base-color-light-white;
      padding-left: $base-padding*6+1;
      width: 210px;
      height: 150px;
      background-image: url("~/assets/image/block-nav/block-nav-2.png");
      background-position: center center;
      .block-img {
        padding-right: 8px;
      }
    }

    .nav-item-2-2 {
      padding-left: $base-padding*6+1;
      margin-top: $base-margin*8 +3;
      width: 410px;
      height: 150px;
      background-image: url("~/assets/image/block-nav/block-nav-4.png");
      background-position: center center;
      .block-img {
        padding-right: 104px;
      }
    }
  }
}
