.col-left,
.col-center,
.col-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.block-nav,
.nav-row,
.nav-item-title-line, {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-item-1-1,
.nav-item-2-1,
.nav-item-1-2,
.nav-item-2-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid $base-color-dirt-black;
  box-sizing: border-box;
  border-radius: $base-border-radius*7;
  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    margin: 0;
    color: $base-color-light-white;
  }
  .block-img {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
  }
}


.block-nav {
  width: inherit;
  height: 100%;
  margin-top: $base-margin*12 +2;
  padding: 0 110px 0 110px;
  position: relative;
  .dot {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #D46900;
    top: 160px;
    left: 532px;
  }
  @media screen and (max-width: 1444px) and (min-width: 1280px) {
    padding: 0 25px 0 40px;
    .dot {
      left: 460px;
    }
  }
  @media screen and (max-width: 1280px) {
    padding: 0 20px 0 30px;
  }

  .col-left {
    align-items: flex-end;
    .nav-item-1-1 {
      padding-left: $base-padding*5;
      width: 410px;
      height: 150px;
      //background: #000;
      background-image: url("~/assets/image/block-nav/block-nav-1.png") ;
      background-position: center center;

    }
    .nav-item-1-2 {
      padding-top: $base-padding*5;
      font-size: 32px;
      align-items: center;
      justify-content: flex-start;
      margin-top: $base-margin*8 +3;
      height: 315px;
      width: 220px;
      background-image: url("~/assets/image/block-nav/block-nav-3.png") ;
      background-position: center center;
      img {
        margin-top: $base-margin*8;
      }
    }
  }
  .col-center {
    margin-left:$base-margin*8 +3;
    .nav-row {
      align-items: center;
      .nav-item-2-1 {
        color: $base-color-light-white;
        text-transform: uppercase;
        padding-left: $base-padding*3;
        width: 210px;
        height: 150px;
        background-image: url("~/assets/image/block-nav/block-nav-2.png");
        background-position: center center;
      }
      .nav-cross {
        margin-left: $base-margin*12 +2;
        width: 105px;
        height: 105px;
        background-image: url("~/assets/image/block-nav/nav-cross.png");
        background-position: center center;
      }
    }
    .nav-item-2-2 {
      padding-left: $base-padding*5;
      margin-top: $base-margin*8 +3;
      width: 410px;
      height: 150px;
      background-image: url("~/assets/image/block-nav/block-nav-4.png");
      background-position: center center;
    }
    .nav-item-h-line {
      margin: $base-margin*8 0 0 $base-margin*3 +1;
      height: 187px;
      width: 4px;
      border-radius: $base-border-radius*2;
      background-color: #D46900;
    }
    h3 {
      font-size: $base-font-size+12;
      align-self: flex-start;
      padding: 0;
      margin: $base-margin*7 0 0 $base-margin*3 +1 ;
    }
  }
  .col-right {
    margin-top: $base-margin*17 +3;
    width: 290px !important;
    height: 483px;
    background-image: url("~/assets/image/block-nav/nzv-pb-logo.png");
    background-position: center center;
  }
}
