.tm-dimmer {
  display: none;
  // position: absolute;

  position: fixed;
  overflow-y: scroll;

  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  max-height: 100%;
  text-align: center;
  background: rgba(75, 80, 109, 0.6);
  // overflow-y: auto;
  vertical-align: middle;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  will-change: opacity;
  z-index: 3000;

  &.active {
    display: block;
    opacity: 1;
  }
}
