.loader-wrapper {
  .fish.dimmer {
    background: rgba(255, 255, 255, 0.8);
  }
}

.custom-modal-header {
  text-align: center;
  border-radius: $base-radius +3 $base-radius +3 0 0;
  padding: $base-padding*7 $base-padding*4 $base-padding*8 $base-padding*4;
  background-color: transparent;
  h4 {
    margin: $base-radius*1 0 0 0;
  }

}

.tm-modal {
  position: absolute;
  text-align: left;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  border-radius: $base-radius+4;
  z-index: 3001;
  min-width: 300px;
  margin-bottom: $base-padding*10;

  .modal-close {
    display: inline-block;
    text-align: center;
    position: absolute;
    z-index: 99;
    opacity: 0.4;
    font-size: 32px;
    width: 28px;
    height: 28px;
    padding: 6px 0 0 1px;
    top: $base-padding*3;
    right: $base-padding*3;
    background-color: $color-silver;
    border-radius: 2em;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .modal-divider {
    margin: $base-padding*4 -1*$base-padding*8;
    // border-top: 1px solid $color-silver;
  }

  .modal-header {
    font-size: 24px;
    font-weight: bold;
    color: $color-black;
    position: relative;
    padding: $base-padding*8 $base-padding*8 $base-padding*2 $base-padding*8;
    &:empty {
      display: none;
    }
  }
  .modal-body {
    position: relative;
    padding: $base-padding*4 $base-padding*8;
  }
  .modal-footer {
    text-align: right;
    // border-top: 1px solid $color-silver;
    position: relative;
    padding: $base-padding*2 $base-padding*8;
    &:empty {display: none}
  }
}
.couch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .main-description {
    //font-family: 'Arial', sans-serif !important;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .advance-list{
    padding: 30px 0 0 10px;
    border-top: 2px solid darkgray;
    .advance-item {
      margin: 10px 0;
    }
  }
}
.modal-button {
  border-radius: 10px;
  border: 0;
  padding: 10px 25px;
  background-color: $base-color-orange-hover;
  margin-bottom: $base-margin*3;
  &:hover {
    background-color: #D46900;
    color: #F2F2F2;

  }
}

