.order,
.o-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.o-line,
.o-order-form,
.o-form-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.order {
  z-index: 10;
  margin-top: 19px;
  width: inherit;
  height: 660px;
  padding: 0 123px 0 140px;
  position: relative;

  .o-container {
    .o-info {
      width: 415px;
      height: 400px;
      background-image: url('~/assets/image/bg-order/bg-order-1.png');
      p {
        padding: $base-padding*2;
        text-align: justify;
      }
    }
    .o-container-line {
      margin: 0 $base-margin*6 +3;
      height: 500px;
      width: 4px;
      background-color: #D46900;
    }
    .o-order-form {
      .o-form-title {
        text-transform: uppercase;
        font-size: $base-font-size +6;
        margin-bottom: $base-margin*2;
      }
      .o-form-body {
        height: 250px;
        width: 265px;
        background-image: url('~/assets/image/bg-order/bg-order-2.png');
        background-size: 300px 300px;
        border-radius: $base-border-radius*7;
        background-position: center center;
        justify-content: center;
        cursor: pointer;
        img {
          transition:all .5s ease-in-out;
          width: 165px;
          height: 140px;
        }
        &:hover {
          img {
            transition:all .5s ease-in-out;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .o-line {
    margin-right: $base-margin;
    h3 {
      font-size: $base-font-size +12;
      padding: 0;
      margin: 0 0 $base-margin*4 +3 0;
      text-transform: uppercase;
    }
    .line {
      height: 608px;
      width: 4px;
      background-color: #D46900;
    }
  }
  @media screen and (max-width: 1444px) and (min-width: 1280px) {
    padding: 0 30px 0 45px;

  }
}
