.couch-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.or-line,
.couch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.our-team {
  z-index: 100;
  //margin-top: 19px;
  width: inherit;
  height: 953px;
  padding: 0 100px 0 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .or-container {
    width: 645px;
    height: 953px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .couch-list {
      width: 185px;
      padding: 0;
      list-style: none;
      height: 645px;
      .couch {
        width:185px;
        height: 200px;
        background-size: 185px 200px;
        background-position: center center;
        background-color: #333333;
        border-radius: 30px;
        h3 {
          text-transform: uppercase;
          margin-left: -$base-margin;
          color: $base-color-light-white;
        }
        img {
          max-height: 100px;
          max-width: 100px;
        }
        //&:nth-child(4n-3) {
        //  background-image: url('~/assets/image/couch-image/bg-couch-1.png');
        //}
        //&:nth-child(4n-2) {
        //  background-image: url('~/assets/image/couch-image/bg-couch-2.png');
        //}
        //&:nth-child(4n-1) {
        //  background-image: url('~/assets/image/couch-image/bg-couch-3.png');
        //}
        //&:nth-child(4n) {
        //  background-image: url('~/assets/image/couch-image/bg-couch-4.png');
        //}
      }

    }
    .information {
      position: relative;
      width: inherit;
      font-family: 'Roboto', sans-serif !important;
      height: 645px;
      background-color: #333333;
      margin-left: 24px;
      //background-size:808px 290px;
      //background-position: center center;
      //background-image: url('~/assets/image/couch-image/bg-couch-5.png');
      color: $base-color-light-white;
      border-radius: 30px;
      .or-team-icon {
        top: 17px;
        left: 17px;
        width: 48px;
        height: 48px;
        position: absolute;
      }
      h3 {
        text-transform: uppercase;
        padding: $base-margin*8 0 0 $base-margin*19;
        margin: 0;
      }
      p {
        font-family: 'Roboto', sans-serif ;
        padding: $base-padding*8 $base-padding*12 0 $base-padding*9;
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        overflow: hidden;
        word-break: break-word;
      }
    }

  }
  .order {
    width: 345px;
    height: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .order-title {
      font-family: "Roboto", sans-serif;
      font-size: 21px;
      text-transform: uppercase;
      margin: 0;
    }
    .order-click {
      height: 350px;
      width: 321px;
      border-radius: 30px;
      background-image: url('~/assets/image/bg-order/bg-order-1.png');
      //background-size: contain;
      margin: 12px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .order-social-network-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 12px;

      .order-social-network, .cube-dots {
        width: 48px;
        height: 48px;
      }
      .order-social-network {
        border-radius: 10px;
        background-color: #333333;
      }
      .cube-dots {
        position: relative;
        .dot-sm {
          width: 15px;
          height: 15px;
          border-radius: 15px;
          background-color: #D46900;
          position: absolute;
          top: 0;
          left: 0;
          &:nth-child(n+2) {
            right: 0;
            left: unset;
          }
          &:nth-child(n+3) {
            top: unset;
            left: unset;
            right: 0;
            bottom: 0;
          }
          &:nth-child(n+4) {
            top: unset;
            button: 0;
            left: 0;
          }
        }
      }
    }
  }
}
