.our-team,
.couch-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.or-line,
.couch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.our-team {
  z-index: 100;
  margin-top: 19px;
  width: inherit;
  height: 660px;
  padding: 0 100px 0 110px;
  position: relative;
  .or-container {
    width: 810px;
    .couch-list {
      height: 200px;
      width: inherit;
      padding: 0;
      list-style: none;
      .couch {
        width:185px;
        height: 200px;
        background-size: 185px 200px;
        background-position: center center;
        h3 {
          text-transform: uppercase;
          margin-left: -$base-margin;
          color: $base-color-light-white;
        }
        img {
          max-height: 100px;
          max-width: 100px;
        }
        &:nth-child(5n-4) {
          background-image: url('~/assets/image/couch-image/bg-couch-1.png');
        }
        &:nth-child(5n-3) {
          background-image: url('~/assets/image/couch-image/bg-couch-2.png');
        }
        &:nth-child(5n-2) {
          background-image: url('~/assets/image/couch-image/bg-couch-3.png');
        }
        &:nth-child(5n-1) {
          background-image: url('~/assets/image/couch-image/bg-couch-4.png');
        }
      }

    }
    .information {
      position: relative;
      margin-top: $base-margin*10 +2;
      width: inherit;
      height: 290px;
      background-size:808px  290px ;
      background-position: center center;
      background-image: url('~/assets/image/couch-image/bg-couch-5.png');
      color: $base-color-light-white;
      .or-team-icon {
        top: 17px;
        left: 17px;
        width: 48px;
        height: 48px;
        position: absolute;
      }
      h3 {
        text-transform: uppercase;
        padding: $base-margin*8 0 0 $base-margin*19;
      }
      p {
        max-width: 695px;
        max-height: 185px;
        margin: $base-margin*2 0 0 $base-margin*16 +2;
      }
    }

  }
  .or-line {
    margin-right: $base-margin;
    h3 {
      font-size: $base-font-size +12;
      padding: 0;
      margin: 0 0 $base-margin*4 +3 0;
      text-transform: uppercase;
    }
    .line {
      height: 608px;
      width: 4px;
      background-color: #D46900;
    }
  }
}
