.training-list,
.tl-type,
.tl-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tl-line,
.tl-training-types,
.tl-types,
.tl-type-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.tl-groups,
.tl-types {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $base-font-size + 4;
  //font-weight: bold;
}

.training-list {
  width: inherit;
  padding: 0 101px 0 70px;
  position: relative;
  height: 690px;
  @media screen and (max-width: 1444px) and (min-width: 1280px) {
    padding: 0 20px 0 40px;
  }
  @media screen and (max-width: 1280px) {
    padding: 0 20px 0 30px;
  }
  .tl-container {
    position: relative;
    width: 100%;
    .block-subtitle {
      top: -22px;
      left: 110px;
      position: absolute;
      font-size: $base-font-size +14;
      margin: 0;
      text-transform: uppercase;
    }
    .tl-training-types {
      justify-content: center;
      align-items: center;

      .tl-types{
        color: $base-color-light-white;
        .tl-type {
          justify-content: flex-start;
          align-items: center;
          margin: $base-margin*5 0 0 0;
          width: 680px;
          height: 115px;
          background-position:center center;
          .tl-img {
            margin: 0 $base-margin*6+1 0 $base-margin*6 +1;
          }
          .tl-type-name {
            font-family: "Roboto",sans-serif;
            font-size: 28px;
            justify-content: center;
            height: 70px;
            padding-left: $base-padding*4 +1;
            border-left: 2px solid $base-color-light-white;
          }
        }
      }
    }
    .tl-age-groups,
    .tl-groups  {
      width: 393px;
      height: 427px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      .tl-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 31px;
        .age-circle {
          width: 75px;
          height: 75px;
          border-radius: 50%;
          background-color: #333333;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 48px;
          color: #F2F2F2;
          position: relative;
          .circle-title {
            position: absolute;
            top: 5px;
          }
          &:last-child {
            margin-top: 17px;
          }
        }
        .age-dot {
          background-color: #D46900;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-top: 17px;
        }
        &:last-child {
          .age-circle:last-child {
            display: none;
          }

        }
      }

    }


  }

}

