.training-list,
.tl-type,
.tl-container,
.tl-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tl-line,
.tl-training-types,
.tl-types,
.tl-type-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.tl-groups,
.tl-types {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: $base-font-size + 4;
  //font-weight: bold;
}

.training-list {
  margin-top: 19px;
  width: inherit;
  height: 660px;
  padding: 0 110px 0 110px;
  position: relative;
  @media screen and (max-width: 1444px) and (min-width: 1280px) {
    padding: 0 20px 0 40px;
  }
  @media screen and (max-width: 1280px) {
    padding: 0 20px 0 30px;
  }
  .tl-container {
    h4 {
      font-size: $base-font-size +10;
      margin: 0;
      text-transform: uppercase;
    }
    .tl-training-types {
      justify-content: center;
      align-items: center;
      .tl-types{
        color: $base-color-light-white;
        .tl-type {
          justify-content: flex-start;
          align-items: center;
          margin: $base-margin*5 0 0 0;
          width: 680px;
          height: 115px;
          background-position:center center;
          .tl-img {
            margin: 0 $base-margin*5+2 0 $base-margin*3 +3;
          }
          .tl-type-name {
            justify-content: center;
            height: 70px;
            padding-left: $base-padding*4 +1;
            border-left: 2px solid $base-color-light-white;
          }
        }
      }
    }
    .tl-age-groups {
      margin-left: $base-margin*7;
      margin-top: $base-margin*14;
      .tl-groups {
        .tl-group {
          justify-content: flex-start;
          .tl-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #D46900;
            margin-right: $base-margin*2;
          }
          &:not(:first-child) {
            margin-top: $base-margin;
          }
        }
      }
    }

  }
  .tl-line {
    margin-right:  $base-margin*3+1;
    h3 {
      font-size: $base-font-size +12;
      padding: 0;
      margin: 0 0 $base-margin*4 +3 0;
      text-transform: uppercase;
    }
    .line {
      height: 608px;
      width: 4px;
      background-color: #D46900;
    }
  }

}

