$base-padding: 4px;
$base-margin: 4px;
$base-radius:4px;
$base-color-light-white : #F2F2F2;
$base-color-light-white-active : #bcbcbc;
$base-color-dirt-black  : #333333;
$base-color-orange-hover  : #f58d35;
$base-color-orange-active  : #f69022;
$color-silver: #DFE0EB;
$color-black: #000;

$base-font-size:16px;

$base-border-radius:4px;
