@import "_variable";
@import "_header";
@import "_footer";
@import "block-nav";

html {
  padding: 0;
  margin: 0;
}
body,
body * {
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #BDBDBD;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1366px;
  width: 1366px;
  box-shadow: 0 0 20px #7C7C7C;
  background: $base-color-light-white;
  .main {
    height: 100%;
  }
}
@media screen and (max-width: 1444px) and (min-width: 1280px) {
  .container { max-width: 1200px; }
} @media screen and (max-width: 1280px) {
  .container { max-width: 1000px; }
}
