@import "_variable";
@import "_header";
@import "_footer";
@import "block-nav";
@import "trening-list";
@import "our-team";
@import "order";
@import "about-us";
@import "_dimmer";
@import "_modal";

html {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body,
body * {
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100%;
  background-color: #F2F2F2;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 1366px;
  box-shadow: 0 0 20px #7C7C7C;
  background: $base-color-light-white;
  position: relative;
  .bg-basketball {
    width: 200px;
    height: 200px;
    background-image: url('~/assets/image/icons/001-basketball.svg');
    //transform: rotate(45deg);
    position: absolute;
    bottom: 775px;
    left: 50px;
  }
  .bg-whistle {
    width: 370px;
    height: 370px;
    background-image: url('~/assets/image/icons/002-whistle.svg');
    //transform: rotate(45deg);
    position: absolute;
    background-size: 100%;
    top: 500px;
    right: 103px;
  }
  .bg-basketball-players {
    width: 350px;
    height: 350px;
    background-image: url('~/assets/image/icons/003-basketball-players.svg');
    //transform: rotate(45deg);
    background-size: 350px 350px;
    position: absolute;
    top: 1220px;
    left: 200px;
    transform: rotate(-15deg);
  }
  .bg-card-id {
    background-image: url('~/assets/image/icons/004-id-card.svg');
    //transform: rotate(45deg);
    background-size: 200px 200px;
    position: absolute;
    top: 230px;
    left: 80px;
    width: 200px;
    height: 200px;
  }
  .bg-medal {
    background-image: url('~/assets/image/icons/005-medal.svg');
    //transform: rotate(45deg);
    background-size: 240px 240px;
    position: absolute;
    top: 1075px;
    right: 320px;
    width: 250px;
    height: 250px;
  }
  .bg-cort {
    background-image: url('~/assets/image/basketball-court 1.svg');
    //transform: rotate(45deg);
    background-size: cover;
    position: absolute;
    bottom:  820px;
    right: 98px;
    width: 348px;
    height: 345px;
  }
  .up-to-top{
    background: #D46900;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 800px;
    left: 400px;
  }
  .main {
    height: 100%;
  }
}
@media screen and (max-width: 1444px) and (min-width: 1280px) {
  .container { max-width: 1200px; }
} @media screen and (max-width: 1280px) {
  .container { max-width: 1000px; }
}
.main-container {
  position: absolute;
  height: 690px;
  width: 591px;
  right: 260px;
  top: 0;
  border-bottom: 4px solid #D46900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__long {
    height: 953px;
  }
  &__short {
    height: 100%;
    border-bottom: 0;

  }
  .right-title,.left-title {
    position: absolute;
    top: 12px;
    font-size:36px;
    text-transform: uppercase;
    color: #333333;
  }
  .left-title {
    left: 0;
  }
  .right-title {
    right: 0;
    &__long-mt {
      right: -122px;
    }
  }
  .line {
    height: 100%;
    width: 4px;
    background-color: #D46900;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}
