@import "_variable";
@import "_header";
@import "_footer";
@import "block-nav";
@import "trening-list";
@import "our-team";
@import "order";
@import "about-us";

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body,
body * {
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #BDBDBD;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0;
  margin:  0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1366px;
  width: 1366px;
  box-shadow: 0 0 20px #7C7C7C;
  background: $base-color-light-white;
  position: relative;
  .bg-basketball {
    width: 200px;
    height: 200px;
    background-image: url('~/assets/image/icons/001-basketball.svg');
    //transform: rotate(45deg);
    position: absolute;
    top: 471px;
    left: 37px;
  }
  .bg-whistle {
    width: 200px;
    height: 220px;
    background-image: url('~/assets/image/icons/002-whistle.svg');
    //transform: rotate(45deg);
    position: absolute;
    top: 643px;
    right: 322px;
  }
  .bg-basketball-players {
    width: 240px;
    height: 240px;
    background-image: url('~/assets/image/icons/003-basketball-players.svg');
    //transform: rotate(45deg);
    background-size: 240px 240px;
    position: absolute;
    top: 1271px;
    right: 350px;
  }
  .bg-card-id {
    background-image: url('~/assets/image/icons/004-id-card.svg');
    //transform: rotate(45deg);
    background-size: 200px 200px;
    position: absolute;
    bottom: 1215px;
    left: 140px;
    width: 200px;
    height: 200px;
  }

  .up-to-top{
    background: #D46900;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 800px;
    left: 400px;
  }
  .main {
    height: 100%;
  }
}
@media screen and (max-width: 1444px) and (min-width: 1280px) {
  .container { max-width: 1200px; }
} @media screen and (max-width: 1280px) {
  .container { max-width: 1000px; }
}
